<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<dict>
		<key>Event Info</key>
		<array>
			<dict>
				<key>name</key>
				<string>Event</string>
				<key>isInteractable</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Date</string>
				<key>isInteractable</key>
				<false/>
			</dict>
		</array>
		<key>Payment</key>
		<array>
			<dict>
				<key>name</key>
				<string>Price per ticket</string>
				<key>isInteractable</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Quantity</string>
				<key>isInteractable</key>
				<true/>
			</dict>
		</array>
		<key>Total</key>
		<array>
			<dict>
				<key>name</key>
				<string>Total</string>
				<key>isInteractable</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
